<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/app.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirQuality</title>
</head>
<body>
    <div class="main-contender">
        {{>header}}
        <p>미세먼지 정보를 얻어려면 측정장소를 입력해주세요.</p>
        <form action="/air" method="post">
            <input placeholder="측정장소" name="location">
            <button>Search</button>
        </form>
        {{>footer}}
    </div>
</body>
</html>